.jumbotron h1 {
    color:lightblue
}

.jumbotron p {
    color:lightblue
}

.white-text h2 {
    color: lightblue;
}

.aliceblue-text p {
    color: lightblue;
}

.col-md-12 p {
    color: lightblue;
}

body {
    background-color:midnightblue;
}